
/**
 * -------------------------------------
 * ToggleButton
 * -------------------------------------
 */
/* -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color; */
.pad-button {
    -fx-background-radius: 4px;
    -fx-background-color: transparent, transparent, transparent, transparent;
    -fx-border-color: white;
    -fx-border-radius: 4px;
}

/*
 * dropdhadow: blur-type, shadow-color, radius, spread, offx, offy
 * blur-type - gaussian | one-pass-box | three-pass-box | two-pass-box
 */
.pad-button:selected {
	-fx-effect: dropshadow( three-pass-box , #6A962F , 5 , 0.8 , 0 , 0 );
	-fx-border-radius: 4px;
}

/**
 * -------------------------------------
 * bank-button
 * -------------------------------------
 */
 
/* -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color; */
.bank-button {
    -fx-background-radius: 4px;
    -fx-background-color: transparent, transparent, transparent, transparent;
    -fx-border-color: white;
    -fx-border-radius: 4px;
}

/*
 * dropdhadow: blur-type, shadow-color, radius, spread, offx, offy
 * blur-type - gaussian | one-pass-box | three-pass-box | two-pass-box
 */
.bank-button:selected {
	-fx-effect: dropshadow( three-pass-box , #6A962F , 5 , 0.8 , 0 , 0 );
	-fx-border-radius: 4px;
}
